VITE_API_URL=http://localhost:8000
VITE_FIREBASE_API_KEY=AIzaSyCFZn3bGVmPDH3i01F2zYbLMDRKZkz0_AA
VITE_FIREBASE_AUTH_DOMAIN=supplychain-61cbb.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=supplychain-61cbb
VITE_FIREBASE_STORAGE_BUCKET=supplychain-61cbb.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=142814059318
VITE_FIREBASE_APP_ID=1:142814059318:web:dfc0d6fa2c8843d796f197
